.img{
    height: 24rem;
    width: 40rem;
}

.name{
    font-size: 2.5rem;
    text-align-last: center;
    color:white;
    text-decoration:underline;
}

.button{
    cursor: pointer;
    color: white;
    align-self: self-end;
    padding: 10px;
    background-color: red;
    font-size: 15px;
    border: white solid;
    border-radius: 5px;
}


.div{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem;
    padding: 1rem;
    background-color: black;
    border: white solid;
    border-radius: 30px;
}

.text{
    color:white;
    font-size: 1rem;
    text-align: justify;
}

.title{
    color:white;
    font-size: 1.3rem;
}

.divGif{
    height: 100vh; 
    display:flex;
    align-items: center;
    align-self: center;
}

.description{
    color:white;
    font-size: 1rem;
    text-align: justify;
    width: 80%;
}

@media screen and (max-width: 1000px) {
    .img{
        height: 9rem;
        width: 15rem;
    }

    .name{
        font-size: 1.5rem;
        text-align-last: center;
        color:white;
        text-decoration:underline;
    }
}