@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&display=swap');

.img{
    height: 24rem;
    width: 40rem;
    margin:10px;
    border-radius: 10px;
}

.name{
    font-size: 2.5rem;
    text-align-last: center;
    background-color: rgba(0, 0, 0, 0.712);
    border-radius: 10px;
    padding: 10px;
    color: white;
    font-family: 'Oswald', sans-serif;
}

.button{
    cursor: pointer;
    color: white;
    align-self: self-end;
    padding: 10px;
    background-color: red;
    font-size: 15px;
    border: white solid;
    border-radius: 5px;
}


.div{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem;
    padding: 1rem;
    background-color: black;
    border: white solid;
    border-radius: 30px;
    background-image: url("https://blogs.unsw.edu.au/nowideas/files/2019/08/videojuegos-agilidad.jpg");
    background-size: cover;
} 


.text{
    color:rgb(255, 255, 255);
    font-size: 0.9rem;
    text-align: justify;
    margin: 5px;
    text-align-last: center;
}

.title{
    color:rgb(0, 0, 0);
    font-size: 1.3rem;
}

.divGif{
    height: 100vh; 
    display:flex;
    align-items: center;
    align-self: center;
}

.divs{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.bigDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.712);
    border-radius: 10px;
    justify-content: space-evenly;

}

.bigDiv2{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.712);
    border-radius: 10px;
    justify-content: space-evenly;

}

.miniDivs{
    text-align-last: center;
}

.divFila{
    display:flex;
    flex-direction: row;
    align-items: center;
}

.description{
    color:rgb(255, 255, 255);
    font-size: 0.8rem;
    text-align: justify;
    width: 50%;
    margin-right: 10px;
    padding:10px;
    text-align-last: center;
}

.description2{
    color:rgb(255, 255, 255);
    font-size: 0.9rem;
    padding:10px;
    text-align-last: center;
}

@media screen and (max-width: 900px) {
    .name{
        font-size: 2rem;
        text-align-last: center;
        background-color: rgba(0, 0, 0, 0.712);
        border-radius: 10px;
        padding: 10px;
        color: white;
        font-family: 'Oswald', sans-serif;
    }
    .bigDiv{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.712);
        border-radius: 10px;
        justify-content: space-evenly;
    
    }
    .description{
        color:rgb(255, 255, 255);
        font-size: 0.8rem;
        text-align: justify;
        width: 90%;
        margin-right: 10px;
        padding:10px;
        text-align-last: center;
    }
}