@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Share+Tech&display=swap');

.Nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    border-radius: 1rem;
    border-bottom: 0.5rem solid red;
    padding: 10px 10px 5px;
    
}

.ButtonsCreate{
    font-family: 'Press Start 2P', cursive;
    padding: 10px;
    font-size: 10px;
    transition: 0.5s;
}
.ButtonsCreate:hover{
    background-color: red;
    color: white;
}

.label{
    color:white;
    font-family: 'Share Tech', sans-serif;
    font-size: 1.5rem;
    margin-right: 10px;
}

.selects{
    padding: 0.8rem;
    border-radius: 5px;
    font-size: 1rem;
}


