.Home{
background: url(body1.jpg); 
background-position:center;
background-size: auto;
width: 100%;
height:100%;
}

.cards{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-content: center;
}